<ion-header>
  <ion-navbar color="theme">
	<button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title center>Calendar</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
	<p-schedule [events]="events"></p-schedule>
</ion-content>
<!--
    <ion-buttons start>
      <button ion-button *ngIf="depth" (click)="goBack()"><ion-icon name="arrow-back"></ion-icon> Back</button> 
    </ion-buttons>
  </ion-navbar>
</ion-header>
 
 
  <ion-list>
    <div *ngFor="let folder of folders">
      <ion-item *ngIf="folder['.tag'] == 'folder'" detail-push (click)="openFolder(folder.path_lower)">
        {{folder.name}}
      </ion-item>
      <ion-item *ngIf="folder['.tag'] == 'file'">
        {{folder.name}}
      </ion-item>
    </div>
  </ion-list>
 -->
<!--
	<ion-content>
		<div class="calendar-comp">
		    <mwl-calendar-month-view [viewDate]="today">
		    </mwl-calendar-month-view>
		</div>
	</ion-content>
-->
